<nav id="nav-header" class="navbar">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://localhost:4200">
        <img
          src="../../../../assets/images/logo.png"
          alt="DuckLinks"
          width="60px"
          height="60px"
        />
        <p class="m-0">DuckLinks</p>
      </a>
    </div>
    <div id="navbar-right" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left navbar">
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">HOW IT WORKS</a></li>
        <li><a href="#">FREQUENT QUESTIONS</a></li>
        <li *ngIf="this.isLoggedIn">
          <a routerLink="/dashboard" routerLinkActive="active">DASHBOARD</a>
        </li>
        <li *ngIf="this.role === 1">
          <a routerLink="/apply-now" routerLinkActive="active">APPLY NOW</a>
        </li>
        <li *ngIf="this.role === 2">
          <a routerLink="/job-post" routerLinkActive="active">POST A JOB</a>
        </li>
        <li *ngIf="this.role === 2">
          <a routerLink="/applications" routerLinkActive="active"
            >SEE APPLICATIONS</a
          >
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <ng-template [ngIf]="!this.isLoggedIn">
            <button
              mat-raised-button
              color="orange"
              class="mx-4"
              (click)="goToRegister()"
            >
              Register
            </button>
          </ng-template>

          <div *ngIf="this.isLoggedIn; then logout; else login"></div>
          <ng-template #login>
            <button mat-raised-button color="primary" (click)="goToLogin()">
              Log in
            </button>
          </ng-template>

          <ng-template #logout>
            <button mat-raised-button color="primary" (click)="goToLogout()">
              Log out
            </button>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
</nav>
