<div class="container">
    <div class="header-content">
      <div class="header-title">
        <h1 class="mat-display-1">
          DuckLinks
        </h1>
        <p>Your career it's just at <span class="bold-title">ONE </span>click away</p>
        <button class="btn btn-primary">
          Register Now
          <img src="assets/images/chevron_right.svg" alt="chevron right arrow">
        </button>
      </div>
  
      <div class="header-image">
        <img id="presentation-image" src="assets/images/presentation.png">
      </div>
    </div>
  </div>
  