<div id="boxed-container">
    <header id="header" class="header">
      <app-header></app-header>
    </header>
    
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="box">
          <mat-card-header>
            <mat-card-title>Register</mat-card-title>
          </mat-card-header>
        <mat-card-subtitle class="my-3">
            <p>The most basic card needs only an element with some content. However, Angular Material provides a number of preset sections that you can use inside of an </p>
        </mat-card-subtitle>
        <form class="example-form">
            <div class="row-option">
                <mat-radio-group class="example-full-width " aria-label="Select an option">
                    <div class="column">
                        <div class="col-auto mr-sm-2 mx-5 card-block py-1 text-center radio selected ">
                                <div class="col">
                                    <div class="pic my-2"> <img class="irc_mut img-fluid" src="https://www.freeiconspng.com/uploads/duck-png-10.png" width="300" height="300"> </div>
                                    <mat-radio-button value="1"> Duckling
                                    </mat-radio-button>
                                </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="col-auto ml-sm-2 mx-5 card-block py-1 text-center radio ">
                                <div class="col">
                                    <div class="pic my-2"> <img class="irc_mut img-fluid" src="https://us.123rf.com/450wm/krugli/krugli1703/krugli170300105/75161116-red-horse-barn-vector-illustration-wooden-stables-building-with-opened-doors-and-haystack-old-horse-.jpg?ver=6" width="300" height="300"> </div>
                                    <mat-radio-button value="2"> Paddock
                                    </mat-radio-button>
                                </div>
                        </div>
                    </div>
                </mat-radio-group>
            </div>
            <table class="example-full-width" cellspacing="0"><tr>
              <td><mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput>
              </mat-form-field></td>
              <td><mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" matInput>
              </mat-form-field></td>
              </tr></table>
          </form>
        </mat-card>
    </div>
    
    <footer id="footer" class="footer">
        <app-footer></app-footer>
      </footer>
</div>
    