.example-full-width {
    width: 100%;
    display: flex; /* or inline-flex */
    flex-direction: column 

  }
  .item {
    order: 5; /* default is 0 */
  }

  .slider{
    margin-top: 30px;
    text-align: left;
  }
  .example-ducks{
    text-align: left;
  }

  .tech{
    width: 600px;
  }