@import "~src/assets/styles/_mixins.scss";

:host {
  @include full-column-direction;
  height: 100%;
}

#boxed-container {
  @include full-column-direction;
  height: 100%;
}

.section-wrapper {
  @include full-column-direction;
  align-items: center;
  margin-top: 80px;
  position: relative;
  z-index: 1;
  padding: 120px 0;
  height: 1000px;

  &:before {
    background-color: var(--purple);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 0;
    max-width: calc(100% - 40px);
    left: initial;
    right: 0;
    box-shadow: none;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
  }

  .details-wrapper {
    @include full-column-direction;
    margin-left: 40px;
    width: 60%;

    app-user-details {
      @include full-column-direction;
      @include full-width-height;
    }
  }
}
