<div id="boxed-container">
  <header id="header" class="header">
    <app-header></app-header>
  </header>

  <div class="section-wrapper">
    <section class="details-wrapper">
      <div class="diploma-section">
        <ng-template [ngIf]="this.role === 2">
          <app-user-details [idUser]="this.idUser"></app-user-details>
        </ng-template>

        <ng-template [ngIf]="this.role === 1">
          <app-company-details [idCompany]="this.idUser"></app-company-details>
        </ng-template>
      </div>
    </section>
  </div>

  <app-footer></app-footer>
</div>
