<div class="container">
    <div class="section-title-container">
      <h3 class="section-title">Partners</h3>
      <p>In this moment we have multiple partnership with known partners like:
    </div>
  
    <div class="faculties-container">
      <div class="faculty-item">
        <a target="_blank" href="#">
          Sabs Network
        </a>
      </div>
      <div class="faculty-item">
        <a target="_blank" href="#">
          Bytex
        </a>
      </div>
      <div class="faculty-item">
        <a target="_blank" href="#">
          Mambu
        </a>
      </div>
      <div class="faculty-item">
        <a target="_blank" href="#/">
          Centric
        </a>
      </div>
      <div class="faculty-item">
        <a id="five" target="_blank" href="#">
          Shoreline
        </a>
      </div>
      <div class="faculty-item">
        <a target="_blank" href="#">
          P3 HOTELS
        </a>
      </div>
      <div class="faculty-item">
        <a target="_blank" href="#">
          RedPoint Solution
        </a>
      </div>
      <div class="faculty-item">
        <a target="_blank" href="#">
          Oracle
        </a>
      </div>
      <div class="faculty-item">
        <a target="_blank" href="#">
          Amazon
        </a>
      </div>
      <div class="faculty-item">
        <a target="_blank" href="#">
          Google
        </a>
      </div>
    </div>
  </div>
  