<form [formGroup]="userDetailsForm" (ngSubmit)="onSubmit()">
  <div class="d-flex flex-column w-100 h-100">
    <div class="top-form d-flex flex-row w-100">
      <div class="left-form">
        <img
          src="assets/images/person-placeholder.jpg"
          [width]="250"
          [height]="250"
          style="margin-bottom: 5px"
        />

        <div class="d-flex flex-column">
          <mat-form-field appearance="legacy">
            <mat-label>Age</mat-label>
            <input
              type="number"
              formControlName="varsta"
              matInput
              placeholder="18"
            />
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>No. Phone</mat-label>
            <input
              type="text"
              formControlName="nr_tel"
              matInput
              placeholder="+40771771017"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="right-form">
        <div class="user-row user-row-names">
          <mat-form-field appearance="legacy">
            <mat-label>First Name</mat-label>
            <input
              type="text"
              formControlName="prenume"
              matInput
              placeholder="John"
              [value]="this.user.prenume"
            />
          </mat-form-field>
          <div class="divider px-3"></div>
          <mat-form-field appearance="legacy">
            <mat-label>Last Name</mat-label>
            <input
              type="text"
              formControlName="nume"
              matInput
              placeholder="Doe"
            />
          </mat-form-field>
        </div>

        <mat-form-field
          appearance="fill"
          class="mt-2 short-description-textarea"
        >
          <mat-label>Insert a short description about you</mat-label>
          <textarea matInput rows="4" formControlName="description"></textarea>
        </mat-form-field>

        <mat-divider class="custom-deep-purple-divider"></mat-divider>

        <div class="user-row studies-year">
          <mat-form-field appearance="legacy" class="studies">
            <mat-label>Current Studies</mat-label>
            <input
              type="text"
              formControlName="studii_curente"
              matInput
              placeholder="Example: I am studying IT at AC"
            />
          </mat-form-field>
          <div class="divider px-3"></div>
          <mat-form-field appearance="legacy" class="year">
            <mat-label>Year</mat-label>
            <input
              type="number"
              formControlName="an"
              matInput
              placeholder="1"
            />
          </mat-form-field>
        </div>

        <mat-divider class="custom-deep-purple-divider"></mat-divider>

        <div class="user-row job-date">
          <mat-form-field appearance="legacy" class="job-description">
            <mat-label>Last Job (If had one)</mat-label>
            <input
              type="text"
              formControlName="last_job"
              matInput
              placeholder="Example: Intern at Google"
            />
          </mat-form-field>

          <div class="divider px-3"></div>

          <mat-form-field appearance="legacy">
            <mat-label>End Date</mat-label>
            <input
              type="date"
              formControlName="end_date"
              matInput
              placeholder="yyyy-mm-dd"
            />
          </mat-form-field>

          <div class="divider px-3"></div>

          <mat-form-field appearance="legacy">
            <mat-label>Start Date</mat-label>
            <input
              type="date"
              formControlName="start_date"
              matInput
              placeholder="yyyy-mm-dd"
            />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="bottom-form">
      <mat-form-field class="w-100">
        <mat-label>Skills</mat-label>
        <input
          type="text"
          formControlName="skills"
          matInput
          placeholder="Examples: Angular, Laravel, Spring"
        />
      </mat-form-field>

      <div class="d-flex flex-row justify-content-end">
        <button mat-raised-button color="primary">Submit</button>
      </div>
    </div>
  </div>
</form>
