<div id="boxed-container">
    <header id="header" class="header">
      <app-header></app-header>
      <app-header-presentation></app-header-presentation>
  
      <ul class="header-social">
        <li>
          <a href="/">
            <!-- <fa-icon [icon]="faFacebook"></fa-icon> -->
          </a>
        </li>
        <li>
          <a href="">
            <!-- <fa-icon [icon]="faInstagram"></fa-icon> -->
          </a>
        </li>
        <li>
          <a href="">
            <!-- <fa-icon [icon]="faGlobeAfrica"></fa-icon> -->
          </a>
        </li>
      </ul>
    </header>
  
    <div class="body-container">
      <section class="section-row">
        <app-advantages></app-advantages>
      </section>
      <section class="section-row section-faculties">
        <app-partners></app-partners>
      </section>
    </div>
  
    <footer id="footer" class="footer">
      <app-footer></app-footer>
    </footer>
  </div>
  