<section class="section-row contact">
    <div class="container">
      <div class="text-content">
        <h4>Why are you still in doubt?</h4>
        <p>Don't hesitate to stary our carreer NOW!</p>
      </div>
      <a class="btn btn-default btn-footer" href="/register">Register Now<img
        src="assets/images/chevron_right.svg"/></a>
    </div>
  </section>
  
  <div class="footer footer-2019" id="footer">
    <div class="container">
      <div class="row d-flex flex-row justify-content-between w-100">
        <div class="col-sm-5 col-xs-6 foot-contact">
          <a class="navbar-brand" routerLink="/home"><img src="assets/images/logo.png" class="img-brand color"
                                                          alt="DuckLinks"> DuckLinks</a>
          <div class="contact-items">
            <div class="contact-item">
              <label>A.</label>
              <span>FabLab LSAC IASI</span>
            </div>
            <div class="contact-item">
              <label>T.</label>
              <a href="tel:+4071221017">(+40) 71 221 017</a>
            </div>
            <div class="contact-item">
              <label>E.</label>
              <a href="mailto:diplomas@tuiasi.ro">application@ducklinks.quack</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3 p-0 col-xs-6 foot-about">
          <h4>Menu</h4>
          <ul class="menu">
            <li><a href="#" class="menu-item">Home</a></li>
            <li><a href="#" class="menu-item">About</a></li>
            <li><a href="#" class="menu-item">How It Works</a></li>
            <li><a href="#" class="menu-item">Frequest Question</a></li>
          </ul>
        </div>
        <div class="col-sm-2 p-0 col-xs-6 foot-social">
          <h4>Follow us as well on</h4>
          <ul class="menu">
            <li><a rel="noreferrer" target="_blank" href="https://www.facebook.com/">Facebook</a></li>
            <li><a rel="noreferrer" target="_blank" href="https://www.instagram.com/">Instagram</a></li>
            <li><a rel="noreferrer" target="_blank" href="https://linkedin.com/">LinkedIn</a></li>
            <li><a rel="noreferrer" target="_blank" href="https://www.youtube.com/#">Youtube</a></li>
          </ul>
        </div>
      </div>
      <div class="copyright">2022 © <a
                                       href="https://www.linkedin.com/in/george-vr%C3%AEnceanu-359a05195/" target="_blank">DuckLinks</a>. All
        rights reserved.
      </div>
    </div>
  </div>
  