<div class="container">
  <div class="section-title-container">
    <div class="section-title">
      <h2 class="title">Advantages of</h2>
      <h2 class="bold-title">DuckLinks</h2>
    </div>
    <div class="section-subtitle">
      <div class="purple-separator"></div>
      <p>
        Forget about the old and slow recruitement process, join us today and
        use our <span class="smart-keyword">`smart`</span>,
        <span class="smart-keyword">`fast`</span> and
        <span class="smart-keyword">`reliable`</span>
        integrated solutions.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="advantages-container">
    <div class="advantage-item advantage-item-imutability">
      <a class="advantage-item-container">
        <div class="advantage-item-text">
          <div class="bg"></div>
          <label>Fast CV completion</label>
          <h4>Forget about making a dense and useless CV. Insert just the relevant data and your interests and you are ready to go. </h4>
        </div>
        <div class="advantage-item-image">
          <div class="image">
            <img
              alt="Digital Diploma"
              src="assets/images/digital-diploma.svg"
            />
          </div>
        </div>
      </a>
    </div>

    <div class="advantage-item advantage-item-accessibility">
      <a class="advantage-item-container">
        <div class="advantage-item-text">
          <h4>Interactivity</h4>
          <p>Find a career in a more interactive manner</p>
        </div>
        <div class="advantage-item-image">
          <div class="image">
            <img alt="Accessibility" src="assets/images/accessibility.svg" />
          </div>
        </div>
      </a>
    </div>

    <div class="advantage-item advantage-item-invest">
      <a class="advantage-item-container">
        <div class="advantage-item-text">
          <h4>Invest smart</h4>
          <p>Gain value by investing in valuable people</p>
        </div>
        <div class="advantage-item-image">
          <div class="image">
            <img alt="Invest" src="assets/images/invest.svg" />
          </div>
        </div>
      </a>
    </div>

    <div class="advantage-item advantage-item-transparency">
      <a class="advantage-item-container">
        <div class="advantage-item-text">
          <h4>Transparency</h4>
        </div>
        <div class="advantage-item-image">
          <div class="image">
            <img alt="Transparency" src="assets/images/transparency.png" />
          </div>
        </div>
      </a>
    </div>

    <div class="advantage-item advantage-item-security">
      <a class="advantage-item-container">
        <div class="advantage-item-text">
          <h4>Networking</h4>
        </div>
        <div class="advantage-item-image">
          <div class="image">
            <img alt="Networking" src="assets/images/networking.png" />
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
